In [2]:
li=['ajay','arun','kiran']
for i in range(len(li)):
    if(li[i].endswith('n')):
        print(li[i])

arun
kiran

In [1]:
li=['ajay','arun','kiran']
for i in range(len(li)):
    if(li[i].startswith('a')):
        print(li[i])

ajay
arun

In [5]:
n=input("enter a string:")
li=list()
li=n.split()
for i in range(len(li)):
    a=li.count(li[i])
    print(a)

enter a string:abdul anil ajay abdul sunil ajay
2
1
2
2
1
2

In [7]:
names =input("Enter astring:")
names=names.split()
for name in set(names):
    print(name,names.count(name))

Enter astring:kiran kiran pavi pavi prabhas raja
prabhas 1
pavi 2
raja 1
kiran 2

In [12]:
s=input()
sm=0
for ch in s:
    if ch.isdigit():
        sm+=int(ch)
sm

kiran1 10 20

4

In [13]:
s=input().split()
sm=0
for ch in s:
    if ch.isdigit():
        sm+=int(ch)
sm

kiran1 10 20

30

In [5]:
keys=list()
values=[]
d={}
n=int(input("Enter a size of key:")
for i in range(n):
      key=input("enter key:")
      keys.append(key)
      value=input("Enter value:")
      values.append(value)
for i in range():
      d[keys[i]]=values[i]
d

SyntaxError: invalid syntax (<ipython-input-5-1709a35a56d1>, line 5)

In [12]:
keys=list()
values=[]
d={}
n=int(input("Enter a size of key:"))
for i in range(n):
      key=input("enter key:")
      keys.append(key)
      value=input("Enter value:")
      values.append(value)
      
for i in range(len(keys)):
      d[keys[i]]=values[i]
print(d)

Enter a size of key:3
enter key:name
Enter value:kiran
enter key:rollno
Enter value:539
enter key:age
Enter value:21
{'name': 'kiran', 'rollno': '539', 'age': '21'}

In [8]:
stuinfo={'names':["kiran","surendra","shiva"],'rollno':[501,502,503]}
stuinfo

{'names': ['kiran', 'surendra', 'shiva'], 'rollno': [501, 502, 503]}

In [9]:
stuinfo['names'][1]

'surendra'