## Day Objectives:
- Dictinories
  - it is data structure
  - data will be store in pair format i.e,Key:value
  - for defing empty dictorary we can use {:} or dict()
  - Key => max string
  - values may be string,integer,list,tuple,set,dictionary

In [1]:
stu={'name':'abdul','rollno':123,'branch':'cse'}
stu

{'name': 'abdul', 'rollno': 123, 'branch': 'cse'}

In [3]:
stu['name']

'abdul'

In [6]:
print(stu["branch"])
print(stu["rollno"])

cse
123

In [8]:
stu['rollno']=539
print(stu["rollno"])

539

In [9]:
stu['age']=21
stu

{'name': 'abdul', 'rollno': 539, 'branch': 'cse', 'age': 21}

In [10]:
dir(stu)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [11]:
stu.keys()

dict_keys(['name', 'rollno', 'branch', 'age'])

In [12]:
stu.values()

dict_values(['abdul', 539, 'cse', 21])

In [14]:
stu.items()

dict_items([('name', 'abdul'), ('rollno', 539), ('branch', 'cse'), ('age', 21)])

In [15]:
stu.pop('age')

21

In [16]:
stu

{'name': 'abdul', 'rollno': 539, 'branch': 'cse'}

In [20]:
marks={}
marks={}.fromkeys(['java','python','c','c++'],0)
marks['java']=45
marks['python']=55
marks['c']=65
marks['c++']=40

In [21]:
marks

{'java': 45, 'python': 55, 'c': 65, 'c++': 40}

In [23]:
marks.setdefault(".net",67)

67

In [24]:
d={}
names=input().split()
for name in set(names):
    d[name]=names.count(name)
d

kiran kiran pavi

{'pavi': 1, 'kiran': 2}

In [25]:
di=dict()
names=input().split()
names

kiran suri kumar sai

['kiran', 'suri', 'kumar', 'sai']

In [28]:
di=dict()
names=input().split()
for indpos,value in enumerate(names):
    print(indpos,value)

kiran sukumar anil shiva sunil
0 kiran
1 sukumar
2 anil
3 shiva
4 sunil

In [29]:
di=dict()
names=input().split()
for indpos,value in enumerate(names):
    di[indpos]=value
di

kiran sukumar anil shiva sunil

{0: 'kiran', 1: 'sukumar', 2: 'anil', 3: 'shiva', 4: 'sunil'}

In [30]:
keys=list()
values=[]
d={}
n=int(input("Enter a size of key:"))
for i in range(n):
      key=input("enter key:")
      keys.append(key)
      value=input("Enter value:")
      values.append(value)
      
for i in range(len(keys)):
      d[keys[i]]=values[i]
print(d)

Enter a size of key:3
enter key:name
Enter value:kiran
enter key:age
Enter value:21
enter key:branch
Enter value:cse
{'name': 'kiran', 'age': '21', 'branch': 'cse'}

In [31]:
stuinfo={'names':["kiran","surendra","shiva"],'rollno':[501,502,503]}
stuinfo

{'names': ['kiran', 'surendra', 'shiva'], 'rollno': [501, 502, 503]}

In [32]:
stuinfo['names'][1]

'surendra'

In [38]:
d={}
names=[]
mobilenumbers=[]
n=input("Enter a string:").split()
for ch in n:
    if ch.isdigit():
        mobilenumbers.append(ch)
        
    else:
        names.append(ch)
        
d['names']=names
d['mobilenumbers']=mobilenumbers
d

Enter a string:kir 123

{'names': ['kir'], 'mobilenumbers': ['123']}