In [2]:
n=int(input("Enter size:"))
for i in range(1,n+1):
    for j in range(1,n+1):
        if(j<=i):
            print(j,end=" ")
        else:
            print(" ",end=" ")
    print()

Enter size:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## List or Dictonary or Tuples comprehension

In [3]:
[i for i in range(int(input()))]

10

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
nums=[i for i in range(int(input()))]
print(nums)

10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
[i**2 for i in range(int(input())) ]

5

[0, 1, 4, 9, 16]

In [8]:
[i for i in range(2,10,2)]

[2, 4, 6, 8]

In [9]:
[i for i in range(1,10,2)]

[1, 3, 5, 7, 9]

In [10]:
vals=[i for i in range(1,100) if i%2==0]
print(vals)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [11]:
val=[i for i in range(1,100) if i%2!=0]
print(val)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [16]:
bi=[int(i) for i in input().split()]
bi

1 2 3 4 5 6

[1, 2, 3, 4, 5, 6]

In [19]:
va=input().split()
print(va)
li=[]
for i in va:
    li.append(int(i))
li

1 2 3 4 5 6
['1', '2', '3', '4', '5', '6']

[1, 2, 3, 4, 5, 6]

In [20]:
vals=list(map(int,input().split()))

1 2 3 4 5

In [21]:
def int1(x):
    return int(x)
vals=list(map(int1,input("ENTER A NUMBER:").split()))
print(vals)

ENTER A NUMBER:1 2 3 4 5 6
[1, 2, 3, 4, 5, 6]

In [26]:
def int2(x):
    return int(x)**3
v=list(map(int2,input().split()))
print(v)

1 2 3 4
[1, 8, 27, 64]

In [29]:
def int2(x):
    return int(x)**3
sm=sum(list(map(int2,input().split())))
print(sm)

1 2 3 4 5 6 7 8 9 10
3025

In [33]:
def int2(x):
    return int(x)**3
sm=sum(list(i for i in range(int(input()))))
print(sm)

10
45

In [3]:
def int2(x):
    return int(x)**2
sm=sum(list(i for i in range(int(input()))))
print(sm)

10
45

In [13]:
n=int(input())
t=[print(n,"X",b,"=",n*b)for b in range(1,11)]

10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [14]:
nums=list("even" if i%2==0 else "odd" for i in range(1,10))
nums

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [30]:
['aisbig' if int(input())>int(input()) else 'bis big']

10
20

['bis big']

In [28]:
# print 5 multiples in between 1 to 100
[i for i in range(1,101) if i%5==0]

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [31]:
[i for i in range(1,101) if i%2==0 if i%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [32]:
[i for i in range(1,101) if i%2==0 and i%3==0]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [33]:
[(i,j)for i in range(1,3) for j in range(1,6)]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5)]

In [34]:
[(i,j)for i in range(1,3) for j in range(1,6) if j%2==0]

[(1, 2), (1, 4), (2, 2), (2, 4)]

## Dictinory comphrensions

In [36]:
{k:v for k,v in enumerate([1,2,3,4,5])}

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [50]:
keys=['name','rollno','age']
values=['kiran',539,21]
{keys:values for keys,values in zip(keys,values)}

{'name': 'kiran', 'rollno': 539, 'age': 21}

In [49]:
li={}
dir('split')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']