## Day Objectives:
- iterative statements
- jumping statements
- python datastructures
    - List
    - Tuple
    - Dictonaries
    - sets

### iterative statements
- doing task again and again
- in python we have 2 loops
    - for loop
    - while loop

In [1]:
range(10)

range(0, 10)

In [2]:
range(1,10)

range(1, 10)

In [3]:
range(1,10,2)  
# IT DEFAULT TAKE THIRD VALUE AS A INCREMENT VAULE

range(1, 10, 2)

In [4]:
'101' in '1011100101'
'1011100101'.count('101')

2

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(10):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,

In [9]:
for j in range(2,10):
    print(j,end=" ")

2 3 4 5 6 7 8 9

In [12]:
for j in range(1,10,2):
    print(j,end=" ")

1 3 5 7 9

In [13]:
for j in range(0,10,2):
    print(j,end=" ")

0 2 4 6 8

In [9]:
for j in range(2,100,2):
    print(j,end=" ")
# printing 1 to 100 even numbers

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [1]:
for j in range(1,100,2):
    print(j,end=" ")
# printing 1 to 100  add numbers

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [3]:
for i in range(100,0,-1):
    print(i,end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [6]:
for i in range(100,0,-2):
    print(i,end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [8]:
for i in range(99,0,-2):
    print(i,end=" ")

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [10]:
name="apssdc"
print(name[0])
print(name[-1])
print(name[len(name)-1])

a
c
c

In [15]:
for index in range(len(name)):
    print(name[index],end=" ")

a p s s d c

In [16]:
for index in range(len(name)):
    print(index,end=" ")

0 1 2 3 4 5

In [17]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [19]:
for index in name:
    print(index,end=",")

a,p,s,s,d,c,

In [21]:
a=int(input("enter a number:"))
for i in range(1,11):
    print(a,"X",i,"=",a*i)

enter a number:2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [26]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
for i in range(a,b+1):
    for j in range(1,11):
        print(i,'X',j,"=",i*j)
    print("---------------")

enter a number:2
enter a number:10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
---------------
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
---------------
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
---------------
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
---------------
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
---------------
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
---------------
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
---------------
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
---------------
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
---------------

In [29]:
a=int(input("enter a number:"))
b=int(input("enter a number:"))
for i in range(1,11):
    for j in range(a,b+1):
        print(j,"X",i,"=",i*j,end="  ")
    print("")

enter a number:2
enter a number:5
2 X 1 = 2  3 X 1 = 3  4 X 1 = 4  5 X 1 = 5
2 X 2 = 4  3 X 2 = 6  4 X 2 = 8  5 X 2 = 10
2 X 3 = 6  3 X 3 = 9  4 X 3 = 12  5 X 3 = 15
2 X 4 = 8  3 X 4 = 12  4 X 4 = 16  5 X 4 = 20
2 X 5 = 10  3 X 5 = 15  4 X 5 = 20  5 X 5 = 25
2 X 6 = 12  3 X 6 = 18  4 X 6 = 24  5 X 6 = 30
2 X 7 = 14  3 X 7 = 21  4 X 7 = 28  5 X 7 = 35
2 X 8 = 16  3 X 8 = 24  4 X 8 = 32  5 X 8 = 40
2 X 9 = 18  3 X 9 = 27  4 X 9 = 36  5 X 9 = 45
2 X 10 = 20  3 X 10 = 30  4 X 10 = 40  5 X 10 = 50

In [30]:
a=int(input())
for i in range(1,a+1):
    print(i*"*")

5
*
**
***
****
*****

In [31]:
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
    print("a is grater")
elif b>c:
    print("b is greater")
else:
    print("a is smaller")

10
20
30
a is smaller

In [45]:
def big(a,b,c):
    if a>b and a>c:
        return a
    elif b>c:
        return b
    else:
        return c
a=int(input())
b=int(input())
c=int(input())
bi=big(a,b,c)
print("big is",bi)

10
20
30
big is 30

In [43]:
def small(a,b,c):
    if a<b and a<c:
        return a
    elif b<c:
        return b
    else:
        return c
a=int(input())
b=int(input())
c=int(input())
bi=small(a,b,c)
print("samall is",bi)

10
20
30
samall is 10

In [3]:
p=int(input())
def prime(p1):
    re=p1
    count=0
    while(re!=0):
        if(p1%re==0):
            count+=1
            re-=1
        else:
            re-=1
    return count
pi=prime(p)
if(pi==2):
    print("prime")
else:
    print("not prime")

11
prime

In [65]:
a=int(input())
b=int(input())
for i in range(a,b+1):
    r=prime(i)
    if(r==2):
        print(i,end=" ")

1
20
2 3 5 7 11 13 17 19

In [4]:
a=int(input())
b=int(input())
count=0
for i in range(a,b+1):
    r=prime(i)
    if(r==2):
        count+=1
print(count)

1
20
8

In [5]:
def even(e):
    if e%2==0:
        return 0
    else:
        return 1
a=int(input("enter a number:"))
b=int(input("Enter a number:"))
for i in range(a,b+1):
    if even(i)==0:
        print(i)

enter a number:1
Enter a number:10
2
4
6
8
10

In [7]:
def odd(o):
    if o%2==1:
        return 1
    else:
        return 0
a=int(input("enter a number:"))
b=int(input("Enter a number:"))
for i in range(a,b+1):
    if odd(i)==1:
        print(i)

enter a number:1
Enter a number:20
1
3
5
7
9
11
13
15
17
19

In [12]:
def fact(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
a=int(input())
b=int(input())
for i in range(a,b+1):
    p=fact(i)
    print(p)

1
5
1
2
6
24
120

In [3]:
def pali(n):
    a=n[::-1]
    if n==a:
        return 1
    else:
        return 0
a=input()
if pali(a)==1:
    print("palindrome")
else:
    print("not polindrome")

kik
palindrome

## jumping statements are
 - break
 - contiue

In [5]:
for i in range(1,100):
    if(i==50):
        break
    else:
        print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [6]:
## continues
for i in range(1,100):
    if(i%5==0):
        continue
    else:
        print(i,end=" ")

1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

In [9]:
for i in range(1,100):
    if(i%5!=0):
        continue
    else:
        print(i,end=" ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [10]:
for i in range(1,100):
    if(i%5==0):
        print(i,end=" ")
    continue

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

## python data structures

### List
- it is data structure
- it is a mutable
- for defining list we are using [ and  ]
- and also it is data type

In [14]:
li =[123,13.0,'kiran']
print(li,type(li))

[123, 13.0, 'kiran'] <class 'list'>

In [17]:
print(li[0])
print(len(li))

123
3

In [18]:
print(li[:1])

[123]

In [19]:
print(li[1:])

[13.0, 'kiran']

In [22]:
print(li[::-1])

['kiran', 13.0, 123]

In [24]:
l2=[1,2,3]
li+l2

[123, 13.0, 'kiran', 1, 2, 3]

In [25]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [28]:
li.insert(1,"pavi")
li

[123, 'pavi', 13.0, 'kiran', 'pavi', 'pavi']

In [29]:
li.remove("pavi")

In [30]:
li

[123, 13.0, 'kiran', 'pavi', 'pavi']

In [31]:
li.pop(3)

'pavi'

In [32]:
li

[123, 13.0, 'kiran', 'pavi']

In [33]:
li.append("ksrm")

In [34]:
li

[123, 13.0, 'kiran', 'pavi', 'ksrm']

In [38]:
li.reverse()
li

['ksrm', 'pavi', 'kiran', 13.0, 123]

In [40]:
li.index('pavi')

1

In [41]:
li.remove()

TypeError: remove() takes exactly one argument (0 given)

In [42]:
l2.clear()

In [43]:
l2

[]

In [44]:
del l2

In [45]:
l2

NameError: name 'l2' is not defined

In [46]:
li1=li

In [48]:
li1,li

(['ksrm', 'pavi', 'kiran', 13.0, 123], ['ksrm', 'pavi', 'kiran', 13.0, 123])

In [50]:
li1.append('prabhas')

In [51]:
li1,li

(['ksrm', 'pavi', 'kiran', 13.0, 123, 'prabhas'],
 ['ksrm', 'pavi', 'kiran', 13.0, 123, 'prabhas'])

In [52]:
li1.remove('prabhas')

In [53]:
li1,li

(['ksrm', 'pavi', 'kiran', 13.0, 123], ['ksrm', 'pavi', 'kiran', 13.0, 123])

In [54]:
li2=li.copy()

In [55]:
li2,li

(['ksrm', 'pavi', 'kiran', 13.0, 123], ['ksrm', 'pavi', 'kiran', 13.0, 123])

In [56]:
li.append("prabhas")

In [57]:
li,li2

(['ksrm', 'pavi', 'kiran', 13.0, 123, 'prabhas'],
 ['ksrm', 'pavi', 'kiran', 13.0, 123])

In [58]:
li.count("pavi")

1

In [59]:
li.append(li1)

In [60]:
li

['ksrm', 'pavi', 'kiran', 13.0, 123, 'prabhas', [...]]

In [63]:
li[6]

['ksrm', 'pavi', 'kiran', 13.0, 123, 'prabhas', [...]]

In [65]:
l1=[1,48,'pavi','kiran']
l1

[1, 48, 'pavi', 'kiran']

In [66]:
l22=[4,6,'kp','k']
l22

[4, 6, 'kp', 'k']

In [67]:
l1.append(l22)

In [68]:
l1

[1, 48, 'pavi', 'kiran', [4, 6, 'kp', 'k']]

In [70]:
l1[4]

[4, 6, 'kp', 'k']

In [72]:
l33=[30,10,15]
l33

[30, 10, 15]

In [75]:
l33.sort()
l33

[10, 15, 30]

In [76]:
sum(l33)

55

In [81]:
n=int(input())
vals=list(map(int,input().split()))[:n]
print(sum(vals))

5
1 2 3 4 5 6
15

In [82]:
l22=[]
a=int(input("enter a size:"))
for i in range(a):
    l22.append(input())
print(l22)

enter a size:5
'kiran'
45
65
46
79
["'kiran'", '45', '65', '46', '79']

In [84]:
li=[]
n=int(input("enter a size of list:"))
for i in range(n):
    val=int(input("Enter value:"))
    li.append(val)
print(li)
print("max value is:",max(li))
print("min value is:",min(li))
print("sum value is:",sum(li))
print("average value is:",sum(li)/len(li))

enter a size of list:5
Enter value:1
Enter value:2
Enter value:3
Enter value:4
Enter value:5
[1, 2, 3, 4, 5]
max value is: 5
min value is: 1
sum value is: 15
average value is: 3.0

## Tuples:
- it is a data structure
- it is data type
- it is imutable
- ()

In [85]:
t=(1231,473.98,"sdc")
t

(1231, 473.98, 'sdc')

In [87]:
t[::-1]

('sdc', 473.98, 1231)

In [88]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [89]:
t.index('sdc')

2

In [90]:
type(t)

tuple

In [93]:
li=list(t)

In [94]:
type(li)

list

In [95]:
li=tuple(li)

In [96]:
type(li)

tuple

## sets
- it is data structure
- it is a data type
- {}

In [97]:
s={1,2,3,1,4,5,4}
print(s)

{1, 2, 3, 4, 5}

In [98]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [105]:
li=['ajay','arun','kiran']
for i in range(len(li)):
    if(li[i].startswith('a')):
        print(li[i])

ajay
arun

In [108]:
li=['ajay','arun','kiran']
for i in range(len(li)):
    if(li[i].endswith('n')):
        print(li[i])

arun
kiran