# Day Objectives
- python intraduction
- python variables
- operations
- string and string functions

## python intraduction
### for defining python
- High level 
- interpreter
- oop's
- multipurpose
- Dynamic

In [1]:
c=0
c

0

In [2]:
c=0
print(type(c))
c=5/2
print(type(c))

<class 'int'>
<class 'float'>

## variables
- we can store the values temporarly
### variable assignments
- assignment single value to multiple varaiables
- assigning different type of values to diffrent variables in a line
- by using second way i can perform swappng with out temp

In [3]:
a=b=c=30
a

30

In [4]:
a=b=c=30
a
c

30

In [5]:
a=b=c=30
print(a)
print(b)
print(c)

30
30
30

In [6]:
name,age,rollno="apssdc",24.5,123456
print(type(name))
print(type(age))
print(type(rollno))

<class 'str'>
<class 'float'>
<class 'int'>

In [7]:
age=30
print(age,type(age))

30 <class 'int'>

In [9]:
a,b=10,20
a=10+10
b=20-10
print(a)
print(b)

20
10

In [10]:
a,b=10,20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

In [14]:
a,b=10,20
a=a+b
b=a-b
a=a-b
print(a,b)

20 10

#### Reading values frtom user
- python we can use input() for reading values from user

In [15]:
a=input("Enter a value:")
a

Enter a value:10

'10'

In [18]:
b=int(input("enter a number:"))
print(b)
print(type(b))

enter a number:20
20
<class 'int'>

In [20]:
name=str(input("enter a name:"))
print('wecome',name)

enter a name:KIRAN
wecome KIRAN

### Modes of execution
- we have two ways those are 
    - interacting mode
         - we can write something and we can see result there only
    - scrpiting mode
         - we can build in file.py

### Operators
- we can perform arithimatic an dlogical operations

### types:
- Arithimatic       ----->+,-,*,/,%,//,**
- relational        -----> used for compareing  two numbers {<,>,=,<=,>=,==,!=}
- Logical           -----> used for comparing the two conditions {and,or,not}
- Bitwise operator  -----> {&,|,<<,>>}
- Assignment        -----> {+=,-=,*=,/=,%=,**=,<=,>=}
- membership opator -----> {in,not in}
- identity operator -----> {is,is not}

In [27]:
n=int(input())
for i in range(1,n):
    print("*"*i)

5
*
**
***
****

In [23]:
2*2

4

In [24]:
"kiran"*3

'kirankirankiran'

In [25]:
"*"*5

'*****'

In [28]:
3<5

True

In [30]:
5<=5

True

In [31]:
a=int(input("Enter a value:"))
b=int(input("Enter  b value:"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

Enter a value:10
Enter  b value:20
30
-10
200
0.5
10

In [33]:
a,b,c,d=5,8,4,9
a<b and c<d

True

In [40]:
a,b,c,d=5,8,4,9
a<b and c>d

False

In [41]:
a,b,c,d=5,8,4,9
a>b or c<d

True

In [45]:
not a>b

True

In [47]:
2&3

# 2==>0010
# 3==>0011
# =======
#   0010==>2

2

In [48]:
# # 2==>0010
# # 3==>0011
#   2(+)3==>0011
# # =======
# #   0011==>3

2|3

3

In [50]:
# 2-->0010
# 2<<1
# 0100
2<<1

4

In [51]:
2>>1

1

## Assignment operators

In [52]:
# a=a+100
a=1
a+=100
a

101

## membership operators

In [53]:
arr =[1,2,3,4,5]
5 in arr

True

In [54]:
arr =[1,2,3,4,5]
50 not in arr

True

## identity operators

In [55]:
2 is 3

False

In [56]:
'abc' is 'abc'
# it compares with id numbers

True

In [57]:
id(2) 
# id of 2 in this system

140736613225312